:root {
	font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html {
	height     : 100%;
	overflow-y: inherit;
	// font-weight: 500;//游明朝体で500にすると表示崩れがあるかも
}

body {
	@include font-yumincho;
  color: $main-color;
	background: $base-color;



	min-width : 375px;
	width     : 100%;
	min-height: 100%;
	height    : 100%;
	font-size : 1.4rem;
	overflow-x: hidden;
	position  : relative;

	@include breakpoint( tablet ) {
	overflow-x: inherit;
	}
}








img {
	max-width: 100%;
	height   : auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
	margin     : 0;
	padding    : 0;
	font-size  : 100%;
	font-weight: normal;
}

a {
	color          : inherit;
	text-decoration: none;
	&:hover {
		opacity: .6;
	}
}

ul, ol {
	margin : 0;
	padding: 0;
}

li, dl, dd {
	list-style-type: none;
	margin         : 0;
	padding        : 0;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}
time {
	font-family: 'Oswald';
}
