.l-footer {
	text-align: center;
	padding-bottom: pxtovw-sp(50);
	@include breakpoint( pc ) {
		padding-bottom: pxtovw-pc(50);
	}
}


.page-template-about,
.page-template-flow {
	.l-footer {
		padding-top: pxtovw-sp(155);
		@include breakpoint( pc ) {
			padding-top: pxtovw-pc(100);
		}
	}
}


.error404 {
	.l-footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-bottom: pxtovw-sp(10);
		@include breakpoint( pc ) {
			padding-bottom: pxtovw-pc(10);
		}
	}
}


.page-template-price {
	.l-footer {
		padding-bottom: pxtovw-sp(29);
		@include breakpoint( pc ) {
			padding-bottom: pxtovw-pc(29);
		}
	}
}