// ------------------------------
// 「その言葉で〜」とflowの円のbase
// ------------------------------
%boxbase {
  position: relative;
  border-radius: 50%;
  box-shadow: 12px 13px 9px -10px rgba($shadow-color, .3) inset,
              -10px -10px 15px -10px #ffffff inset;
  background-color: $base-color;
  cursor: pointer;
  transition: .8s;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: $main-color;

    // 左から右の場合
    // left: -110%;
    // width: 100%;
    // transition: all .3s linear;

    // 左斜め上からの場合
    left: 0;
    width: 140%;
    transform-origin: right top;
    transform: skewX(-30deg) scale(0, 1);
    transition: transform .8s;
  }

  &:hover {
    color: #ffffff;
    box-shadow: none;
  }

  &:hover:before {
    // 左から右の場合
    // left: 0;

    // 左斜め上からの場合
    transform-origin: left top;
    transform: skewX(-30deg) scale(1, 1);
  }

  span {
    position: absolute;
    @include transform50;
    text-align: center;
    width: 100%;
  }
}



// ------------------------------
// 円ボックスのfadein:jquery制御
// ------------------------------
.fadein {

  opacity: 0;
  transition: all .8s;
  
    &.show {
      opacity: 1;
    }
  }
