.c-card {
    position: relative;
    margin-top: 5.8rem;
    // overflow: hidden;

    @media (min-width: 850px) {
        margin-top: 0;
    }

    img {
        border-radius: 2%;
        box-shadow: 5px 5px 8px 1px #b9b9b9;

        &:hover {
            filter: brightness(50%);
            transition: all 0.8s;
        }
    }

    &__info {
        position: absolute;
        top: 57%;
        max-width: 45rem;
        max-height: 42%;
        height: 42%;
        padding: 2.3rem 2.8rem 3rem;

        @media (min-width: 850px) {
            padding: 4rem;
        }
    }

    &__ttl {
        max-height: 37.2%;
        overflow: hidden;

        span {
            display: block;
        }
    }

    &__desc {
        margin-top: calc(2.7rem + (1vw - 0.38rem) * -0.9);
        max-height: 50%;
        overflow: hidden;
    }
}
