.c-copyright {
  display: block;
}

.home,
.page-template-index,
.page-template-default {
  .c-copyright {
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(50);
    }
  }
}

.page-template-about,
.page-template-flow {
  .c-copyright {
    padding-top: pxtovw-sp(72);

    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(30);
    }
  }
}


//paddingを広くとらないと、ラインアニメーションが最後までいかない
@media (min-width:480px) and ( max-width: 1100px ) {
.page-template-about {
  .c-copyright {
  padding-top: pxtovw-pc(300);
  }
}

.page-template-flow {
  .c-copyright {
      padding-top: pxtovw-pc(400);
    }
  }
}



.error404 {
  .c-copyright {
    margin-top: pxtovw-pc(20);
  }
}

