// ------------------------------
// 下へスクロールするボタン
// ------------------------------
.c-scroll-btn {

  span {
    font-size: 0;//テキスト非表示

    &::before {
      position: absolute;
      content: '';
      top: 81%;
      left: 47.5%;
      width: pxtovw-sp(22);
      height: pxtovw-sp(22);
      border-top: 1px solid $main-color;
      border-right: 1px solid $main-color;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);

      @include breakpoint( pc ) {
        top: 51%;
        left: 48.7%;
        margin-top: pxtovw-pc(280);
        width: pxtovw-pc(35);
        height: pxtovw-pc(35);
      }
    }
  }
}