// ------------------------------
// ベース
// ------------------------------
.p-base-btn {
  @extend %btnBase;
  top: unset;
  width: pxtovw-sp(255.9);
  height: pxtovw-sp(56.9);
  font-size: pxtovw-sp(15);
  justify-content: center;

  @include breakpoint( pc ) {
    width: pxtovw-pc(256);
    height: pxtovw-pc(57);
    font-size: pxtovw-pc(15);
  }

  // aタグをグリッドにする
  a {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    column-gap: pxtovw-sp(12);
  
    @include breakpoint( pc ) {
      column-gap: pxtovw-pc(8);
    }
  }

  p {
    letter-spacing: .18rem;
    text-indent: .18rem;

    @include breakpoint( pc ) {
      font-size: pxtovw-pc(15);
      // letter-spacing: -0.04rem;
    }
  }

  // 矢印
  span {
    font-size: 0;//テキスト非表示

    width: pxtovw-sp(16);
    height: pxtovw-sp(16);
    border-top: 1px solid $main-color;
    border-right: 1px solid $main-color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    @include breakpoint( pc ) {
      width: pxtovw-pc(16);
      height: pxtovw-pc(16);
    }
  }
}











