.p-form {
    &__header {
        position: static;
        width: 100%;
        @include breakpoint(pc) {
            padding-top: pxtovw-pc(50);
        }
    }

    &__mainvisual {
        width: 100%;
        height: pxtovw-sp(667);
        background-image: url(../images/mainvisual_contact_sp.png);
        background-position-x: 0%;
        background-position-y: -8rem;
        background-size: cover;
        @include breakpoint(pc) {
            width: 100%;
            height: pxtovw-pc(800);
            background-image: url(../images/mainvisual_contact_pc.png);
            background-position-x: center;
            background-position-y: -11.2rem;
            background-size: cover;
        }
    }
    &__ttl {
        top: 48%;

        .p-page-ttl__heading {
            @include breakpoint(pc) {
                letter-spacing: pxtovw-pc(36);
            }
        }

        .p-page-ttl__txt {
            @include breakpoint(pc) {
                letter-spacing: pxtovw-pc(6);
            }
        }
    }

    &__wrap {
        margin-top: -22rem;
        padding: 0;

        @include breakpoint(pc) {
            // width: 58%;
            margin: 0 auto;
        }
    }

    &__txt {
        width: 100%;
        text-align: center;
        width: calc(100vw-40px);
        @include font-didot;
        font-size: pxtovw-sp(15);
        line-height: 1.799999;
        letter-spacing: 0.3em;

        @include breakpoint(pc) {
            font-size: pxtovw-pc(15);
            line-height: 2.37;
            letter-spacing: 0.45rem;
            text-indent: 0.45rem;
        }
    }

    &__form {
        margin-top: 25rem;
        width: 58%;
    }

    &__list {
        margin-top: 5rem;

        label {
            display: block;
            @include font-yumincho;
            font-size: 1.5rem;
            color: #707070;
            letter-spacing: 0.3em;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            height: 5rem;
        }

        textarea {
            height: 22.4rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
            margin-top: 1rem;
            padding: 1.7rem;
            max-width: 100%;
            width: 100%;
            background-color: #fff;
            box-sizing: border-box;
            border: 1px solid #707070;

            &::placeholder {
                font-family: sans-serif;
                font-weight: normal;
                color: #b9b9b9;
                font-size: 1.6rem;
                line-height: calc(27 / 16);
            }
        }
    }

    &__must {
        padding-left: 1rem;

        &::after {
            content: "必須";
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-left: 1.8rem;
            width: 60px;
            height: 2.4rem;
            font-size: 1.2rem;
            letter-spacing: 0.3em;
            line-height: 2.4rem;

            color: #fff;
            background-color: #707070;
        }
    }

    &__desc {
        margin-top: 2.3rem;
        font-size: 1.2rem;
        color: #707070;
        letter-spacing: 0.3em;
        line-height: 2.9166666666666665;

        @include breakpoint(pc) {
            margin-top: 0;
        }

        span {
            display: block;
            @media (min-width: 800px) {
                display: inline;
            }
        }
    }

    &__submit {
        margin-top: 90px;
    }

    &__flex {
        @media (min-width: 1080px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
