.p-form {
    &__header {
        position: static;
        width: 100%;

        @include breakpoint(pc) {
            padding-top: pxtovw-pc(50);
        }
    }

    &__ttl {
        .p-page-ttl__heading {
            text-transform: capitalize;
            letter-spacing: calc(0.5rem + (1vw - 0.38rem) * 3.4917);
            text-indent: calc(0rem + (1vw - 0.38rem) * 1.4365);
            transform: translate(-50%, -144%);

            @include breakpoint(pc) {
                transform: translate(-50%, -86%);
            }
        }
    }

    &__wrap {
        margin-top: calc(-22.2rem + (1vw - 0.38rem) * -14.6);
        padding: 0;

        @include breakpoint(pc) {
            margin-top: calc(-7rem + (1vw - 0.38rem) * -31.6);
        }

        @media (min-width: 1280px) {
            margin-top: -35.3rem; //headerがfixedの時

            // margin-top: -46.7rem;
        }
    }

    &__txt {
        width: 100%;
        text-align: center;
        width: calc(100vw-4rem);
        @include font-didot;
        font-size: 1.5rem;
        line-height: 1.799999;
        letter-spacing: 0.3em;

        @include breakpoint(pc) {
            font-size: pxtovw-pc(15);
            line-height: 2.2;
            letter-spacing: pxtovw-pc(4.4);
            text-indent: pxtovw-pc(4.4);
        }
    }

    &__form {
        margin-top: calc(12.3rem + (1vw - 0.38rem) * 31.8232);
        padding-bottom: calc(9rem + (1vw - 0.38rem) * -2.0994);

        @include breakpoint(pc) {
            width: 64.7%;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: 1280px) {
            padding-bottom: 7.1rem;
        }
    }

    &__list {
        margin-top: calc(4.9rem + (1vw - 0.38rem) * -2.6519);

        @media (min-width: 1280px) {
            margin-top: 2.5rem;
        }

        label {
            display: block;
            @include font-yumincho;
            font-size: 1.5rem;
            color: #707070;
            letter-spacing: 0.3em;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            height: 5rem;
        }

        textarea {
            height: 22.4rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
            margin-top: 1rem;
            padding: 1.4rem;
            max-width: 100%;
            width: 100%;
            background-color: #fff;
            box-sizing: border-box;
            border: 0.1rem solid #707070;

            &::placeholder {
                font-family: sans-serif;
                font-weight: normal;
                color: #b9b9b9;
                font-size: 1.6rem;
                line-height: calc(27 / 16);
            }
        }
        input[type="number"] {
            margin-top: calc(1rem + (1vw - 0.38rem) * -0.5525);
        }
    }

    &__item {
        padding-left: 1.5rem;

        &--must::after {
            content: "必須";
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-left: 1.4rem;
            width: 6rem;
            height: 2.4rem;
            font-size: 1.2rem;
            letter-spacing: 0.3em;
            line-height: 2.4rem;

            color: #fff;
            background-color: #707070;
        }
    }

    &__desc {
        margin-top: calc(0.7rem + (1vw - 0.38rem) * (-2.5414));
        padding-left: 1.6rem;
        font-size: 1.2rem;
        color: #707070;
        letter-spacing: 0.3em;
        line-height: 2.9166666666666665;

        @include breakpoint(pc) {
            margin-top: 0;
        }

        span {
            display: block;
            @media (min-width: 800px) {
                display: inline;
            }
        }
    }

    &__privacy {
        display: block;
        margin: 4rem auto;

        & > a {
            text-decoration: underline;

            &:hover {
                color: #0000c7;
            }
        }
    }

    &__submit {
        // margin-top: calc(9rem + (1vw - 0.38rem) * -3.3149);
        transform: translate(-50%, 0);
        // @media (min-width: 1280px) {
        //     margin-top: 6rem;
        // }
    }

    &__flex {
        margin-top: calc(4.9rem + (1vw - 0.38rem) * -6.1878);

        @media (min-width: 1280px) {
            margin-top: -0.7rem;
        }

        @media (min-width: 1100px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__warning {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5rem;

        &--txt {
            @include font-yumincho;
            font-size: calc(1rem + (1vw - 0.38rem) * 0.5525);
            color: #c60000;
            letter-spacing: 0.3em;
            line-height: calc(3.5rem + (1vw - 0.38rem) * -1.3867);

            @media (min-width: 1280px) {
                line-height: 2.245rem;
            }
        }
    }
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
