.p-form {
    &__header {
        position: static;
        width: 100%;

        @include breakpoint(pc) {
            padding-top: pxtovw-pc(50);
        }
    }

    &__mainvisual {
        width: 100%;
        opacity: 1;
        height: calc(66.7rem + (1vw - 0.38rem) * 14.6961);

        background-image: url(../images/mainvisual_contact_sp.png);
        background-position-x: 0%;
        background-position-y: -8rem;
        background-size: cover;
        @include breakpoint(pc) {
            width: 100%;
            background-image: url(../images/mainvisual_contact_pc.png);
            background-position-x: center;
            background-position-y: -11.2rem;
            background-size: cover;
        }
    }
    &__ttl.p-page-ttl {
        top: calc(38.6% + (1vw - 0.38rem) * -9.4);
        left: 51%;

        .p-page-ttl__heading {
            letter-spacing: calc(0.5rem + (1vw - 0.38rem) * 3.4917);
            text-indent: calc(0rem + (1vw - 0.38rem) * 1.4365);
            transform: translate(-50%, -144%);

            @include breakpoint(pc) {
                transform: translate(-50%, -86%);
            }
        }

        .p-page-ttl__txt {
            letter-spacing: calc(0.3rem + (1vw - 0.38rem) * 0.2);
            text-indent: calc(0rem + (1vw - 0.38rem) * -0.221);
            transform: translate(-50%, -62%);

            @include breakpoint(pc) {
                transform: translate(-50%, 120%);
            }
            @media (min-width: 1280px) {
                text-indent: -2rem;
            }
        }
    }

    &__wrap {
        margin-top: calc(-28.2rem + (1vw - 0.38rem) * -20.6);
        padding: 0;

        @media (min-width: 1280px) {
            margin-top: -46.7rem;
        }
    }

    &__txt {
        width: 100%;
        text-align: center;
        width: calc(100vw-4rem);
        @include font-didot;
        font-size: 1.5rem;
        line-height: 1.799999;
        letter-spacing: 0.3em;

        @include breakpoint(pc) {
            line-height: 2.37;
            letter-spacing: 0.45rem;
            text-indent: 0.45rem;
        }
    }

    &__form {
        margin-top: calc(12.3rem + (1vw - 0.38rem) * 50.0994);

        @include breakpoint(pc) {
            width: 64.7%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__list {
        margin-top: calc(4.9rem + (1vw - 0.38rem) * -2.6519);

        @media (min-width: 1280px) {
            margin-top: 2.5rem;
        }

        label {
            display: block;
            @include font-yumincho;
            font-size: 1.5rem;
            color: #707070;
            letter-spacing: 0.3em;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            height: 5rem;
        }

        textarea {
            height: 22.4rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        textarea {
            margin-top: 1rem;
            padding: 1.4rem;
            max-width: 100%;
            width: 100%;
            background-color: #fff;
            box-sizing: border-box;
            border: 0.1rem solid #707070;

            &::placeholder {
                font-family: sans-serif;
                font-weight: normal;
                color: #b9b9b9;
                font-size: 1.6rem;
                line-height: calc(27 / 16);
            }
        }
        input[type="number"] {
            margin-top: calc(1rem + (1vw - 0.38rem) * -0.5525);
        }
    }

    &__must {
        padding-left: 1.5rem;

        &::after {
            content: "必須";
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-left: 1.4rem;
            width: 6rem;
            height: 2.4rem;
            font-size: 1.2rem;
            letter-spacing: 0.3em;
            line-height: 2.4rem;

            color: #fff;
            background-color: #707070;
        }
    }

    &__desc {
        margin-top: calc(0.7rem + (1vw - 0.38rem) * (-2.5414));
        padding-left: 1.6rem;
        font-size: 1.2rem;
        color: #707070;
        letter-spacing: 0.3em;
        line-height: 2.9166666666666665;

        @include breakpoint(pc) {
            margin-top: 0;
        }

        span {
            display: block;
            @media (min-width: 800px) {
                display: inline;
            }
        }
    }

    &__submit {
        margin-top: calc(9rem + (1vw - 0.38rem) * -3.3149);
        transform: translate(-50%, 0);
        @media (min-width: 1280px) {
            margin-top: 6rem;
        }
    }

    &__flex {
        margin-top: calc(4.9rem + (1vw - 0.38rem) * -6.1878);

        @media (min-width: 1280px) {
            margin-top: -0.7rem;
        }

        @media (min-width: 1100px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // &__wrap .p-back-to-top {
    //     bottom: 2rem;
    // }

    &__footer {
        margin-top: calc(9rem + (1vw - 0.38rem) * -2.0994);
        padding-bottom: 2.5rem;

        @media (min-width: 1280px) {
            margin-top: 7.1rem;
        }
    }
}
