// ------------------------------
// トップページのabout部分
// ------------------------------

.p-home-about {
  &__list {

    // spではfloat対応
    width: calc(100vw - 40px);//左右の余白を除く

    li:nth-child(odd) {
      clear:right;
    }

    li:nth-child(even) {
      float:right;
    }

    // グリッドにする場合
    // grid-template-columns: repeat(3, calc((100vw - 40px) / 3));
    // grid-template-rows: repeat(6, auto);


    // @media ( min-width: 875px ) {
    //   display: grid;
    //   grid-template-columns: repeat(3, 146px );
    //   column-gap: pxtovw-pc(64);
    //   // row-gap: pxtovw-pc(100);
    // }

    
    // pcではグリッド対応
    @include breakpoint( pc ) {

      --side: pxtovw-pc(221);

      display: grid;
      width: calc((100vw - var(--side)));
      margin-left: var(--side);
      margin-right: var(--side);
      grid-template-columns: repeat(3, pxtovw-pc(213) );
      grid-template-rows: repeat(2, auto);
      column-gap: pxtovw-pc(100);
      row-gap: pxtovw-pc(28);
      justify-items: center;
      width: auto;
      }


    span {
      @include font-yumincho;
      font-size: pxtovw-sp(15);
      line-height: 2.39;
      letter-spacing: .45rem;
      text-indent: .45rem;

      @include breakpoint( pc ) {
        font-size: pxtovw-pc(15);
      }

      @media (min-width:480px) and ( max-width: 811px ) {
        line-height: 1.5;
        letter-spacing: 0;
        text-indent: 0;
      }
    }
  }
}


// ------------------------------
// 「その言葉でデザインを作ります」のbox
// ------------------------------

.p-home-about {
  &--box{
    
    @extend %boxbase;
    cursor: unset;

    // width: 213px;
    // height: 213px;
    
    width: pxtovw-sp(213);
    height: pxtovw-sp(213);
    max-width: pxtovw-sp(213);
    max-height: pxtovw-sp(213);

    @include breakpoint( pc ) {
      width: pxtovw-pc(213);
      height: pxtovw-pc(213);
      // min-width: pxtovw-pc(200);
      // min-height: pxtovw-pc(200);
      // max-width: pxtovw-pc(213);
      // max-height: pxtovw-pc(213);
    }

    // @media ( min-width: 875px ) {
    //   width: 146px;
    //   height: 146px;
    // }


    // グリッドでジグザグ配置
    &:nth-child(odd) { //奇数
      grid-column: 1 / 3;

      @include breakpoint( pc ) {
        grid-column: unset;
      }
    }

    &:nth-child(even) { //偶数
      grid-column: 2 / 4;

      @include breakpoint( pc ) {
        grid-column: unset;
      }
    }

    &:nth-child(1) {
      grid-row: 1;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    &:nth-child(2) {
      grid-row: 2;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    &:nth-child(3) {
      grid-row: 3;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    &:nth-child(4) {
      grid-row: 4;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    &:nth-child(5) {
      grid-row: 5;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    &:nth-child(6) {
      grid-row: 6;

      @include breakpoint( pc ) {
        grid-row: unset;
      }
    }

    // span {
    //   position: absolute;
    //   @include transform50;
    //   text-align: center;
    //   width: 100%;
    // }
  }
}
