.p-mainvisual {
  width: 100%;
  height: pxtovw-sp(667);

  background-image: url(../images/home_mainvisual_sp.svg);
  background-position-x: 0%;
  background-position-y: -7%;
  background-size: cover;//これがないと切れる

  @include breakpoint( pc ) {
    width: 100%;
    height: pxtovw-pc(800);
    background-image: url(../images/home_mainvisual_pc.svg);
    background-position-x: center;
    background-position-y: 3%;
    background-size: cover;
	}
}


.about {
  .p-mainvisual {
    background-image: url(../images/about_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/about_mainvisual_pc.svg);
    }
  }
}


.flow {
  .p-mainvisual {
    background-image: url(../images/flow_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/flow_mainvisual_pc.svg);
    }
  }
}



.price {
  .p-mainvisual {
    background-image: url(../images/price_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/price_mainvisual_pc.svg);
    }
  }
}


.qanda {
  .p-mainvisual {
    background-image: url(../images/qa_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/qa_mainvisual_pc.svg);
    }
  }
}





.works {
  .p-mainvisual {
    background-image: url(../images/works_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/works_mainvisual_pc.svg);
    }
  }
}


.contact {
  .p-mainvisual {
    background-image: url(../images/contact_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/contact_mainvisual_pc.svg);
    }
  }
}



.media {
  .p-mainvisual {
    background-image: url(../images/media_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/media_mainvisual_pc.svg);
    }
  }
}
