.p-mainvisual {
  height: 66.7rem;
  width: 100%;
  object-position: center;

  @include breakpoint(pc) {
    height: 80rem;
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
  }
}
