.p-media {
    &__header {
        position: static;
        width: 100%;
        @include breakpoint(pc) {
            padding-top: pxtovw-pc(50);
        }
    }

    &__mainvisual {
        width: 100%;
        opacity: 1;
        height: calc(66.7rem + (1vw - 0.38rem) * 14.6961);

        width: 100%;
        background-image: url(../images/mainvisual_media_sp.png);
        background-position-x: 0%;
        background-position-y: -8rem;
        background-size: cover;
        @include breakpoint(pc) {
            width: 100%;
            background-image: url(../images/mainvisual_media_pc.png);
            background-position-x: center;
            background-position-y: -11.2rem;
            background-size: cover;
        }
    }

    &__ttl.p-page-ttl {
        text-transform: capitalize;
        top: calc(47.8% + (1vw - 0.38rem) * 3.6); //headerがfixedの時

        // top: calc(38.5% + (1vw - 0.38rem) * -0.4);
        left: calc(50% + (1vw - 0.38rem) * 1.1);

        .p-page-ttl__heading {
            @include breakpoint(pc) {
                letter-spacing: pxtovw-pc(36);
                text-indent: 1.3rem;
            }
        }

        .p-page-ttl__txt {
            letter-spacing: calc(0.3rem + (1vw - 0.38rem) * 0.2);
            text-indent: calc(0rem + (1vw - 0.38rem) * -2.3204);
        }
    }

    &__wrap {
        margin-top: calc(-27.3rem + (1vw - 0.38rem) * 43.3); //headerがfixedの時

        // margin-top: calc(-33.3rem + (1vw - 0.38rem) * 40.3);
        margin-left: calc(2.8rem + (1vw - 0.38rem) * 10.7182);
        margin-right: calc(2.8rem + (1vw - 0.38rem) * 10.7182);

        @media (min-width: 1280px) {
            margin-top: 11.7rem; //headerがfixedの時

            // margin-top: 1.07rem;
        }
    }

    &__grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 10rem;
        margin: 0 auto;

        @media (min-width: 850px) {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(2, minmax(33.5rem, 45rem));
            column-gap: calc(6rem + (1vw - 0.85rem) * 11.4);
            row-gap: calc(5.8rem + (1vw - 0.85rem) * 8.7);
            justify-content: center;
        }

        .c-card {
            &__ttl {
                font-size: 2rem;
                color: #707070;
                letter-spacing: 0.11em;
                line-height: 1.4;

                @media (min-width: 850px) {
                    font-size: calc(2rem + (1vw - 0.85rem) * 0.4651);
                    letter-spacing: calc(0.24rem + (1vw - 0.85rem) * 0.8);
                    line-height: calc(3.2rem + (1vw - 0.85rem) * 0.5116);

                    span {
                        letter-spacing: calc(0.24rem + (1vw - 0.85rem) * 0.4186);
                    }
                }
            }

            &__desc {
                font-size: 1.5rem;
                color: #707070;
                letter-spacing: 0.1em;
                line-height: 1.4;

                @media (min-width: 850px) {
                    line-height: 2;
                }
            }
        }
    }

    &__footer {
        margin-top: 10rem;
        padding-bottom: 2.5rem;
    }
}
