// ------------------------------
// メインビジュアル上のタイトル
// ------------------------------
.p-page-ttl {
  position: absolute;
  top: 42%;
  left: 50%;
  @include breakpoint( pc ) {
    top: 50%;
  }

  // タイトル
  &__heading {
    @include font-didot;
    font-size: pxtovw-sp(40);
    line-height: 51 / 40;
    letter-spacing: pxtovw-sp(3);
    text-indent: pxtovw-sp(3);
    white-space: nowrap;

    position: absolute;
    @include transform50;
    transform: translate(-50%, -147%);
    z-index: 950;

    @include breakpoint( pc ) {
      font-size: pxtovw-pc(70);
      transform: translate(-50%, -88%);
      letter-spacing: pxtovw-pc(8);
      text-indent: pxtovw-pc(8);
      line-height: 89 / 70;
    }

    &__shadow {
      width: 100%;
      height: 100%;
      background: rgba(#ffffff, .52);
      padding: 0 pxtovw-sp(10) pxtovw-sp(5) pxtovw-sp(10);
      border-radius: 67px;
      filter: blur(23px);
  
      position: absolute;
      @include transform50;
      z-index: -1;//マイナスにしないとシャドウに覆われてしまう
  
      @include breakpoint( pc ) {
        width: 100%;
        left: 50%;
        padding: 0 pxtovw-pc(15) pxtovw-pc(7) pxtovw-pc(15);
        background: rgba(#ffffff, .58);
      }
    }
  }

  // サブタイトル
  &__txt {
    position: absolute;
    @include transform50;

    @include font-yumincho;
    font-weight: 400;
    line-height: 26 / 15;
    letter-spacing: pxtovw-sp(3);
    text-indent: pxtovw-sp(3);
    white-space: nowrap;

    @include breakpoint( pc ){
      font-size: pxtovw-pc(15);
      transform: translate(-50%, 120%);
      letter-spacing: pxtovw-pc(2);
      text-indent: pxtovw-pc(2);
    }

    &__shadow {
      width: 100%;
      height: 100%;
      // background: red;
      background: rgba(#ffffff, .52);
      padding: pxtovw-sp(15) 0;
      border-radius: 67px;
      filter: blur(23px);
  
      position: absolute;
      @include transform50;
      z-index: -2;
  
      @include breakpoint( pc ) {
        padding: pxtovw-pc(40) pxtovw-pc(140);
        background: rgba(#ffffff, .58);
        // background: red;
      }
    }
  }
}


// ------------------------------
// トップページ
// ------------------------------
.home,
.page-template-index,
.page-template-default {
  .p-page-ttl {
    top: 50%;
  }
}



// ------------------------------
// アバウトページ
// ------------------------------
.page-template-about {
  .p-page-ttl {
    top: 47.5%;

    @include breakpoint( pc ) {
      top: 42%;
      left: 50%;
    }

    &__heading {
      letter-spacing: pxtovw-sp(6);
      text-indent: pxtovw-sp(6);
  
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(36);
        text-indent: pxtovw-pc(36);
      }

      &__shadow {
        @include breakpoint( pc ) {
          height: 76%;
          top: 86%;
          border-radius: 50%;
        }
      }
    }

    &__txt {
      transform: translate(-50%, 30%);

      @include breakpoint( pc ){
        transform: translate(-50%, 121%);
        letter-spacing: pxtovw-pc(4.5);
        text-indent: pxtovw-pc(4.5);
      }
    }
  }
}


// ------------------------------
// フローページ
// ------------------------------
.page-template-flow {
  .p-page-ttl {
    top: 47.6%;

    @include breakpoint( pc ) {
      top: 44%;
      left: 49.9%;
    }

    &__heading {
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(36);
        text-indent: pxtovw-pc(36);
      }
    }

    &__txt {
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(5);
        text-indent: pxtovw-pc(5);
      }

      &__shadow {
        @include breakpoint( pc ) {
          border-radius: 50%;
        }
      }
    }
  }
}





// ------------------------------
// プライスページ
// ------------------------------
.page-template-price {
  .p-page-ttl {
    top: 48%;

    @include breakpoint( pc ) {
      top: 42.6%;
      left: 50%;
    }

    &__heading {
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(35);
        text-indent: pxtovw-pc(35);
      }

      &__shadow {
        @include breakpoint( pc ) {
          height: 76%;
          top: 70%;
          border-radius: 50%;
        }
      }
    }

    &__txt {
      @include breakpoint( pc ){
        transform: translate(-49%, 93%);
        letter-spacing: pxtovw-pc(5);
        text-indent: pxtovw-pc(5);
      }
    }
  }
}



// ------------------------------
// Q&Aページ
// ------------------------------
.page-template-qanda {
  .p-page-ttl {
    top: 47.5%;

    @include breakpoint( pc ) {
      top: 51.5%;
    }

    &__heading {
      letter-spacing: pxtovw-sp(-3);
      text-indent: pxtovw-sp(-3);

      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(8);
        text-indent: pxtovw-pc(8);
      }

      &__shadow {
        @include breakpoint( pc ) {
          height: 116%;
          top: 54%;
          border-radius: 50%;
        }
      }
    }

    &__txt {
      @include breakpoint( pc ){
        transform: translate(-49%, 130%);
        letter-spacing: pxtovw-pc(4);
        text-indent: pxtovw-pc(4);
      }
    }
  }
}



// ------------------------------
// Worksページ
// ------------------------------
.page-template-works {
  .p-page-ttl {
    top: 47.7%;

    @include breakpoint( pc ) {
      top: 46.5%;
    }

    &__heading {
      
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(36);
        text-indent: pxtovw-pc(36);
      }

      &__shadow {
        @include breakpoint( pc ) {
        }
      }
    }

    &__txt {
      @include breakpoint( pc ){
        letter-spacing: pxtovw-pc(5);
        text-indent: pxtovw-pc(5);
      }
    }
  }
}



// ------------------------------
// contactページ
// ------------------------------
.page-template-contact {
  .p-page-ttl {
    top: 47.7%;

    @include breakpoint( pc ) {
      top: 42.3%;
    }

    &__heading {
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(37);
        text-indent: pxtovw-pc(37);
      }

      &__shadow {
        @include breakpoint( pc ) {
        }
      }
    }

    &__txt {
      @include breakpoint( pc ){
        letter-spacing: pxtovw-pc(5);
        text-indent: pxtovw-pc(5);
        text-align: center;
      }
    }
  }
}



// ------------------------------
// mediaページ
// ------------------------------
.page-template-media {
  .p-page-ttl {
    top: 48%;

    @include breakpoint( pc ) {
      top: 51.7%;
    }

    &__heading {
      @include breakpoint( pc ) {
        letter-spacing: pxtovw-pc(35);
        text-indent: pxtovw-pc(35);
      }

      &__shadow {
        @include breakpoint( pc ) {
        }
      }
    }

    &__txt {
      @include breakpoint( pc ){
        letter-spacing: pxtovw-pc(5);
        text-indent: pxtovw-pc(5);
      }
    }
  }
}