.p-page-top {
  @extend .p-base-btn;

  width: 14.3rem;
  height: 3.2rem;
  margin-top: calc(6.5rem + (1vw - 0.38rem) * 2.7624);

  @media (min-width: 1280px) {
    margin-top: 9rem;
  }

  p {
    letter-spacing: 0.4rem;
    text-indent: 0.4rem;
    text-align: center;
    font-size: 1.5rem;
  }

  // 矢印
  span {
    display: none;
  }
}
