// ------------------------------
// カルーセル
// ------------------------------
.p-slick {
  // width: pxtovw-sp(320);
  height: auto;
  margin: auto;

  @include breakpoint(pc) {
    width: calc(44rem + (1vw - 0.48rem) * 12.5);
    position: relative;
  }

  @media (min-width: 1280px) {
    width: 54rem;
  }

  li {
    padding: 1rem;

    &:hover {
      filter: brightness(50%); // 画像を暗くする
      transition: all 0.8s;
    }
  }

  img {
    width: 100%;
  }
}

// ------------------------------
// 矢印
// ------------------------------
// 左向き矢印
.slick-prev {
  // スマホでは非表示のため設定無し

  &:hover {
    opacity: 0.5;
  }

  &:before {
    display: none; //デフォルトを非表示
  }

  // pcで表示設定
  @include breakpoint(pc) {
    position: absolute;
    left: -5%;
    top: 50%;

    width: pxtovw-pc(25);
    height: pxtovw-pc(25);
    border-top: 1px solid $main-color;
    border-right: 1px solid $main-color;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  @media (min-width: 1280px) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

// 右向き矢印
.js-slick-next {
  position: relative;
  left: 29%;
  margin-top: pxtovw-sp(46);

  @include font-yumincho;
  letter-spacing: pxtovw-sp(4.6);
  text-indent: pxtovw-sp(4.6);

  // 斜めの線
  &::before {
    position: absolute;
    content: "";
    top: 32%;
    left: 190%;
    width: pxtovw-sp(16);
    height: pxtovw-sp(14);

    border-top: 1px solid $main-color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  // 下の棒線
  &:after {
    position: absolute;
    content: "";
    top: 7.8%;
    left: 143%;
    width: pxtovw-sp(47);
    height: pxtovw-sp(14);

    border-bottom: 1px solid $main-color;
  }

  &:hover {
    opacity: 0.5;
  }

  // pcでは形変更
  @include breakpoint(pc) {
    position: absolute;
    top: 50%;
    right: -5%;
    left: auto;
    margin-top: 0;

    width: pxtovw-pc(25);
    height: pxtovw-pc(25);

    border-top: 1px solid $main-color;
    border-right: 1px solid $main-color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    span,
    &::before,
    &::after {
      display: none;
    }

    @media (min-width: 1280px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

// .slick-next {
//   top: 113.5%;
//   left: 50%;

//   width: pxtovw-sp(16);
//   height: pxtovw-sp(16);

//   border-top: 1px solid $main-color;
//   // border-right: 1px solid $main-color;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);

//   &::before {
//     top: 113.5%;
//     left: 50%;

//     width: pxtovw-sp(16);
//     height: pxtovw-sp(16);

//     border-top: 1px solid $main-color;
//     // border-right: 1px solid $main-color;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }

//   // background: url("/images/slick_next_sp.svg") no-repeat;
//   // background-size: 100%;
//   // filter: brightness(100%);//色が濃すぎるため
//   // color: black;

//   // pcでは形変更
//   @include breakpoint( pc ) {
//     background: none;//画像無し
//     width: pxtovw-pc(25);
//     height: pxtovw-pc(25);
//     right: -8.5%;
//     top: 45%;

//     border-top: 1px solid $main-color;
//     border-right: 1px solid $main-color;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }

//   &:hover {
//     opacity: .5;
//   }

//   &:before {
//     display: none;//デフォルトを非表示
//   }
// }
