.home,
.page-template-index,
.page-template-default {
  .u-margin {

    &--01 {
      margin-top: pxtovw-sp(45);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(60);
      }
    }

    &--02 {
      margin-top: pxtovw-sp(80);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(91);
      }
    }

    &--03 {
      // margin-top: pxtovw-sp(145);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(62);
      }
    }

    &--04 {
      margin-top: pxtovw-sp(-26);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(40);
      }
    }

    &--05 {
      margin-top: 0;
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(100);
      }
    }

    // はじめてサイトをお持ちになるお客様でも
    &--06 {
      margin-top: pxtovw-sp(45);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(62);
      }
    }

    &--07 {
      margin-top: pxtovw-sp(75);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(60);
      }
    }

    &--08 {
      margin-top: pxtovw-sp(83);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(100);
      }
    }

    &--09 {
      margin-top: pxtovw-sp(45);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(62);
      }
    }

    &--10 {
      margin-top: pxtovw-sp(76);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(90);
      }
    }

    &--11 {
      margin-top: pxtovw-sp(45);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(62);
      }
    }

    &--12 {
      margin-top: pxtovw-sp(78);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(94);
      }
    }

    &--13 {
      margin-top: pxtovw-sp(70);
      padding-bottom: pxtovw-sp(70);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(173);
        padding-bottom: pxtovw-pc(30);
      }
    }
  }
}


.page-template-about {
  .u-margin {
    &--20 {
      margin-top: pxtovw-sp(99);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(200);
      }
    }

    // WishDesignのできること
    &--21 {
      margin-top: pxtovw-sp(27);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(55);
      }
    }

    &--22 {
      margin-top: pxtovw-sp(34);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(55);
      }
    }

    &--23 {
      margin-top: pxtovw-sp(136);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(360);
      }
    }

    &--24 {
      margin-top: pxtovw-sp(38);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(35);
      }
    }


    &--25 {
      margin-top: pxtovw-sp(50);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(60);
      }
    }


    &--26 {
      margin-top: pxtovw-sp(49);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(10);
      }
    }

    &--27 {
      margin-top: pxtovw-sp(15);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(8);
      }
    }


    &--28 {
      margin-top: pxtovw-sp(39);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(125);
      }
    }

    &--29 {
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(8);
      }
    }

    &--30 {
      margin-top: pxtovw-sp(40);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(128);
      }
    }
  }
}




.page-template-flow {
  .u-margin {
    &--35 {
      margin-top: pxtovw-sp(85);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(225);
      }
    }


    &--36 {
      margin-top: pxtovw-sp(76);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(124);
      }
    }
  }
}





.page-template-price {
  .u-margin {
    &--50 {
      margin-top: pxtovw-sp(2);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(-1);
      }
    }

    &--51 {
      margin-top: pxtovw-sp(72);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(48);
      }
    }

    &--52 {
      margin-top: pxtovw-sp(130);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(170);
      }
    }

    &--53 {
      margin-top: pxtovw-sp(40);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(62);
      }
    }

    &--54 {
      margin-top: pxtovw-sp(100);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(138);
      }
    }

    &--55 {
      margin-top: pxtovw-sp(62);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(40);
      }
    }
  }
}




.page-template-qanda {
  .u-margin {
    &--60 {
      margin-top: pxtovw-sp(8);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(15);
      }
    }

    &--61 {
      margin-top: pxtovw-sp(38);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(36);
      }
    }

    &--62 {
      margin-top: pxtovw-sp(117);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(100);
      }
    }

    &--63 {
      margin-top: pxtovw-sp(62);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(32);
      }
    }

    &--64 {
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(346);

      }
    }
  }
}

