.home,
.page-template-index,
.page-template-default {
  .u-padding {
    // about
    &--10 {
      padding-top: pxtovw-sp(150);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(190);
        padding-bottom: pxtovw-pc(100);
      }
    }

    // あなたの話を聞かせてください
    &--11 {
      padding-top: pxtovw-sp(78);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(123);
      }
    }

    // その言葉でデザインを作ります
    &--11-2 {
      padding-top: pxtovw-sp(47);
      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(64);
        // padding-bottom: pxtovw-pc(50);
      }
    }

    // works
    &--12 {
      padding-top: pxtovw-sp(143);

      @include breakpoint( pc ) {
        // 290
        padding-top: pxtovw-pc(100);
        // padding-bottom: pxtovw-pc(80);
      }
    }

    // Flow
    &--13 {
      padding-top: pxtovw-sp(90);

      @include breakpoint( pc ) {
        // 242
        padding-top: pxtovw-pc(100);
        // padding-bottom: pxtovw-pc(150);
      }
    }

    // price
    &--14 {
      padding-top: pxtovw-sp(125);

      @include breakpoint( pc ) {
        // 345
        padding-top: pxtovw-pc(150);
        // padding-bottom: pxtovw-pc(150);
      }
    }

    // contact
    &--15 {
      padding-top: pxtovw-sp(220);

      @include breakpoint( pc ) {
        // 443
        padding-top: pxtovw-pc(250);
        // padding-bottom: pxtovw-pc(10);
      }
    }
  }
}




.page-template-about {
  .u-padding {
    &--20 {
      padding-top: pxtovw-sp(15);
      padding-bottom: pxtovw-sp(19);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(5);
      }
    }
  }
}



.page-template-price {
  .u-padding {
    &--50 {
      padding-top: pxtovw-sp(83);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(65);
      }
    }
  }
}


.page-template-qanda {
  .u-padding {
    &--60 {
      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(70);
      }
    }
  }
}
