
@mixin breakpoint( $point ) {
	@if $point == tablet {
		@media ( min-width: 641px ) {
			@content ;
		}
	}
	@if $point == pc {
		@media ( min-width: 769px ) {
			@content ;
		}
	}
	@if $point == wide {
		@media ( min-width: 961px ) {
			@content ;
		}
	}
}
