
// 色設定
$base-color:#F4F4F4;//背景色
$main-color: #707070;//フォント、ホバー他
$shadow-color: #817e7e;//黒シャドウ
$btnShadow-color: #b9b9b9;//ボタンの黒シャドウ
$modal-color: #3C3C3C; //モーダル時の黒バック
$timeline-color: #C1C1C1;//タイムラインのボーダー


// サイズ
$aboutBox-w-sp: 25rem;
$aboutBox-w-pc: 21.3rem;

$flowBox-w-sp: 16.7rem;
$flowBox-w-pc: 12rem;
